@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Libre+Baskerville:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  'Inter', sans-serif;
}

#bannerSection{
    display: flex;
    padding: 60px 180px 60px 130px;
}

#bannerTextDiv>h1{
font-size: 65px;
font-weight: 700;
}

#bannerTextDiv>p{
color:#707070;
font-size: 18px;
line-height: 28px;
}

.donateBtn{
    padding: 16px 12px;
    font-size: 20px;
    font-weight: 600px;
    color: white;
    background-color: #FF5959;
    border: none;
}

#watchBtn{
    border: none;
    color: #707070;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
}



/* banner section end  */

#donateSec{
    text-align: center;
    padding: 60px 300px;
}

#donateSec>h1{
    text-shadow: 4px 4px 5px rgb(158, 152, 152);
    font-size: 50px;
}

#donateSec>p{
    font-size: 16px;
    line-height: 20px;
    color: #707070;
}

#amountDiv{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
align-items: center;
grid-gap: 8px;

}

#amountDiv>button{
    font-size: 30px;
    font-weight: 700;
    color: #707070;
    background-color: #faecec;
    padding: 40px 0;
    border: none;
}

#amountDiv>#pinkBtn{
   color: #FF5959;
   border:3px solid #FF5959;
   border-radius: 10px;
}

#amountMinorDiv>p{
    font-size: 16px;
    color: #707070;
}

hr{
    width: 500px;
}

/* donate plan section start  */

#donatePlanSec{
    padding: 60px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#donatePlanSec>h1{
    padding: 0;
    margin: 0;
    font-size: 45px;
    font-weight: 700;
}

#donatePlanSec>p{
    font-size: 16px;
    color: #707070;
    text-align: center;
}

#donatePlanMajorDiv{
    display: flex;
    gap: 24px;
}

.cardDiv{
    margin: 50px 0;
    height: 250px;
    width: 280px;
    padding: 60px 20px;
    background: rgba(79, 157, 166, 0.116);
    
}

.cardDiv>img{
    height: 50px;
    width: 60px;
}

.cardDiv>h3{
    font-size: 24px;
    font-weight: 600;
}

.cardDiv>p{
    font-size: 16px;
color: #707070;
}

/* about us section start  */

#aboutUsSec{
    padding: 20px 170px;

}

#aboutUsSecDiv1{
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    align-items: center;
 grid-gap: 100px;
}

.rowDiv>h1{
    font-size: 45px;
    font-weight: 700;
}

.rowDiv>p{
    color: #707070;
    font-size: 18px;
    line-height: 28px; 
}

#aboutUsSecDiv1>img{
    /* padding-left: 110px; */
    height: 470px;
}

#aboutUsSecDiv2{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    align-items: center;
    grid-gap: 100px;
}

#aboutUsSecDiv2>.rowDiv{
    order: 2;
}

#aboutUsSecDiv2>img{
    order: 1;
}

/* upadate section start  */

#updateSection{
    text-align: center;
    padding: 20px 300px 80px 300px;
}

#updateSection>h1{
    font-size: 45px;
    font-weight: 700;

}

#updateSection>p{
    font-size: 18px;
    line-height: 28px;
    color: #707070;
}

#updateSection>div{
padding: 90px 0;
background-color: #FFF4D6;
}

#emailBtn{
    color: #AA9F9F;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px 0px 0px 5px;
background: #D9D9D9;
border: none;
padding: 14px 118px 14px 17px;
}

#subscribeBtn{
    color: #FFF;
    font-weight: 500;
    font-size: 16px;
    padding: 14px 40px;
    border: none;
    background-color: #FF5959;
}


/* footer start  */

footer{
    background-color: #0B0D17;
text-align: center;
padding: 40px 0;
}

footer>h1{
    color: #FF5959;
    font-size: 36px;
    letter-spacing: 0.5px;
    font-family: 'Lobster', sans-serif;
}

footer>p{
    font-size: 14px;
    color:  #D9DBE1;
}






























@media screen and (max-width:576px) {



    #bannerSection{
       
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        padding: 10px 20px;
    }
    
#bannerImgDiv>img{
    height: 400px;
}

    #bannerTextDiv>h1{
    font-size: 40px;
    font-weight: 600;
    }
    
    #bannerTextDiv>p{
    font-size: 20px;
    text-align: justify;  
    line-height: 20px;
    }
    
br{
    display: none;
}

#bannerTextDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

    #donateBtn{
        display: block;
    }
    
    #bannerImgMainDiv{
        position: relative;
    }

    #backgroundImg1{
    position: absolute;
    top: 110px;
    left: -20px;
    height: 230px ;
    width: 370px;
    

    }
    
    #backgroundImg2{
        display: none;
    position: absolute;
    top: 130px;
    height: 100px;
    width: 200px;
    }
    
    /* #banner section  end  */
    
    
    #donateSec{
        text-align: center;
        padding: 10px 20px;
    }
    
    #amountDiv{
        grid-template-columns: repeat(2,1fr);
    }
    
    hr{
        width: 300px;
    }
    
    /* donate plan section start  */
    
    #donatePlanSec{
        padding: 10px 20px;
    }
    
    #donatePlanSec>h1{
        font-size: 35px;
    }
    
    #donatePlanSec>p{
text-align: justify;
    }
    
    #donatePlanMajorDiv{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    .cardDiv{
        margin:0;
        height: 180px;
        width: 270px;
        padding: 50px 20px;
     text-align: center;
        
    }


    /* about us section start  */
    #aboutUsSec{
        padding: 10px 20px;
    }
    
    #aboutUsSecDiv1{
        text-align: center;
        padding-bottom: 20px;
        grid-template-columns:repeat(1,1fr) ;
        justify-content: center;
     grid-gap: 20px;
    }
    
    .rowDiv>h1{
        font-size: 24px;
    }
    
    .rowDiv>p{
        text-align: justify;
        font-size: 15px;
        line-height: 20px; 
    }
    
    #aboutUsSecDiv1>img , #aboutUsSecDiv2>img{
        padding: auto;
        margin: auto;
        height: 320px;
    }
    
    #aboutUsSecDiv2{
        text-align: center;
        display: grid;
        grid-template-columns:repeat(1,1fr) ;
        justify-content: center;
        grid-gap: 20px;
    }
    
    #aboutUsSecDiv2>.rowDiv{
        order:1;
    }
    
    #aboutUsSecDiv2>img{
        order:2;
    }
    
    /* upadate section start  */
    
    #updateSection{
        text-align: center;
        padding:20px;
    }
    
    #updateSection>h1{
        font-size: 24px;  
    }
    
    #updateSection>p{
        text-align: justify;
        font-size: 15px;
        line-height: 20px;
    }
    
    #updateSection>div{
    padding: 20px 0;
    }
    
    #emailBtn{
    padding: 14px 80px 14px 17px;
    }
    
    #subscribeBtn{
        padding: 10px 110px;
    }
    
    
    /* footer start  */
    
    footer{
    padding: 10px 0;
    }








    
}

















